In [5]:
import psycopg2


try:
    dbConnection = psycopg2.connect(user = "dap",
                                    password = "dap",
                                    host = "192.168.56.30",
                                    port = "5432",
                                    database = "postgres")
    dbConnection.set_isolation_level(0) # AUTOCOMMIT
    dbCursor = dbConnection.cursor()
    dbCursor.execute('DROP DATABASE IF EXISTS  GroupR_Project;')
    dbCursor.execute('CREATE DATABASE GroupR_Project;')
    dbCursor.close()
except (Exception , psycopg2.Error) as dbError :
    print ("Error while connecting to PostgreSQL", dbError)
finally:
    if(dbConnection):
        dbConnection.close()

In [6]:
import psycopg2
import requests
import pandas as pd
import csv
from sqlalchemy import create_engine


#Create table script - drop if exists 
createppr_i = '''DROP TABLE IF EXISTS ppr_initial;
CREATE TABLE ppr_initial
(
"id" serial primary key,
dateofsale varchar (16),
address varchar(128),
postcode varchar(24),
county varchar(24),
price varchar(24),
notfullprice varchar(8),
vatexcl varchar(8),
description varchar(128),
sizedesc varchar(128)

);'''

readtable = '''Select County, count(*) as No_HousesSold 
from ppr_initial
group by County;'''

#Define the Connection to SQL - sqltype+conectiontype://user:pwd@address/database
pgSQLengine   = create_engine('postgresql+psycopg2://dap:dap@192.168.56.30/groupr_project');
#Name the Connection 
pgSQLconnection = pgSQLengine.connect();


#Create that table
pgSQLconnection.execute(createppr_i)


pgSQLtable = "ppr_initial";


try:
    
    for chunkofppr in pd.read_csv('PPR-ALL/PPR-ALL.CSV', 
                                  encoding='iso-8859-1', 
                                  header=0,
                                  chunksize=100):
            chunktoinsert = chunkofppr.rename(columns={'Date of Sale (dd/mm/yyyy)':'dateofsale','Address':'address',
                                                       'Postal Code':'postcode','County':'county','Price (Â€)':'price',
                                                       'Not Full Market Price':'notfullprice',
                                                      'VAT Exclusive':'vatexcl','Description of Property':'description',
                                                       'Property Size Description':'sizedesc'})
            chunktoinsert.to_sql(pgSQLtable, pgSQLconnection, if_exists='append', index=False);

except ValueError as verror:

    print(verror)

except Exception as xerror:  

    print(xerror)

else:

    county_count = pgSQLconnection.execute(readtable)
    for r in county_count:
            print(r)

finally:

    
    pgSQLconnection.close();

#dbConnection = psycopg2.connect(user = "dap",
#                                    password = "dap",
#                                    host = "192.168.56.30",
#                                    port = "5432",
#                                    database = "postgres")

('Carlow', 4826)
('Cavan', 6888)
('Clare', 10170)
('Cork', 48647)
('Donegal', 12149)
('Dublin', 143174)
('Galway', 22393)
('Kerry', 12895)
('Kildare', 22054)
('Kilkenny', 6976)
('Laois', 6724)
('Leitrim', 3972)
('Limerick', 16625)
('Longford', 3783)
('Louth', 11769)
('Mayo', 10498)
('Meath', 17503)
('Monaghan', 3464)
('Offaly', 5273)
('Roscommon', 6333)
('Sligo', 6570)
('Tipperary', 11878)
('Waterford', 11699)
('Westmeath', 8565)
('Wexford', 14957)
('Wicklow', 13701)

In [10]:

#some postcodes use Irish spelling - this will correct 
BailetoDublin  = '''
update ppr_initial
set postcode = case 
when left(postcode,1) = 'N' then NULL
when left(postcode,1) = 'B' then CONCAT('Dublin ',right(postcode,length(postcode)-18)) 
else postcode 
end;
'''

createppr_a = '''
DROP TABLE IF EXISTS ppr_address;
CREATE TABLE ppr_address 
(
id serial primary key,
address varchar(128),
county varchar(24),
postcode varchar(24),
eircode varchar(16)
);

insert into ppr_address (address, county, postcode, eircode)
select
UPPER(address) as address, county, postcode, null as eircode
from ppr_initial
group by address, county, postcode
order by max(cast(dateofsale as date)) desc;
'''

temp_add = '''
Select id, address, county, postcode, eircode  
into tempaddress
from ppr_address
where county = 'Dublin' 
and eircode is null
limit 2500;'''

#Define the Connection to SQL - sqltype+conectiontype://user:pwd@address/database
pgSQLengine   = create_engine('postgresql+psycopg2://dap:dap@192.168.56.30/groupr_project');
#Name the Connection 
pgSQLconnection = pgSQLengine.connect();



try:
    pgSQLconnection.execute(BailetoDublin)
    pgSQLconnection.execute(createppr_a)
    pgSQLconnection.execute(temp_add)

    
except ValueError as verror:

    print(verror)

except Exception as xerror:  

    print(xerror)

else:
    needeircode = pd.read_sql_table('tempaddress',pgSQLconnection)
    needeircode
    
finally:
    pgSQLconnection.close();

In [11]:


#Define the Connection to SQL - sqltype+conectiontype://user:pwd@address/database
pgSQLengine   = create_engine('postgresql+psycopg2://dap:dap@192.168.56.30/groupr_project');
#Name the Connection 
pgSQLconnection = pgSQLengine.connect();

temp_add = '''
Select id, address, county, postcode, eircode  
into tempaddress
from ppr_address
where county = 'Dublin' 
and eircode is null
limit 2500;'''

pgSQLconnection.execute(temp_add)
needeircode = pd.read_sql_table('tempaddress',pgSQLconnection)
needeircode.head()

,id,address,county,postcode,eircode
0,7932,"11 GRANGEBROOK AVE, RATHFARNHAM, DUBLIN 14",Dublin,Dublin 16,None
1,7933,"121 KIPPURE PARK, FINGLAS SOUTH, DUBLIN 11",Dublin,Dublin 11,None
2,7936,"9 ST. HELEN'S MEWS, ST. HELEN'S, ADAMSTOWN",Dublin,None,None
3,7939,"9 THE CLOSE, CYPRESS DOWNS, TEMPLEOGUE DUBLIN 6W",Dublin,None,None
4,7940,"APT 10, ROEBUCK PARK HOUSE, LARCHFIELD PARK DU...",Dublin,Dublin 14,None

In [ ]:
import psycopg2
import requests
import pandas as pd
import csv
from sqlalchemy import create_engine

# query to create a table for the addresses we want to find an eircode for

createppr_ne = '''
DROP TABLE IF EXISTS ppr_needeircode;
CREATE TABLE ppr_needeircode 
(
"id" int primary key not null,
address varchar(128)
);'''

# query to add the rows we're going to code
ne_addrows = '''
insert into ppr_needeircode 
select id, address
from ppr_address
where county = 'Dublin' 
and eircode is null
limit 5;'''


#Create formatted_address_table script -  
createppr_fa = '''

CREATE TABLE IF NOT EXISTS ppr_formatted_address
(
"id" int primary key not null,
formatted_address varchar (256),
lat numeric,
lng numeric
);'''


#Define the Connection to SQL - sqltype+conectiontype://user:pwd@address/database
pgSQLengine   = create_engine('postgresql+psycopg2://dap:dap@192.168.56.30/groupr_project');
#Name the Connection 
pgSQLconnection = pgSQLengine.connect();


pgSQLconnection.execute(createppr_ne);
pgSQLconnection.execute(ne_addrows)
pgSQLconnection.execute(createppr_fa)

needeircode = pd.read_sql_table('ppr_needeircode',pgSQLconnection)

pgSQLconnection.execute(createppr_fa)

pgSQLtable_fa = "ppr_formatted_address";

def get_geo(addr):    
        g_url = 'https://maps.googleapis.com/maps/api/geocode/json?address={}'.format(addr)
        g_data = requests.get(g_url)
        
        return g_data
        #pd.read_json = g_data.json()
    
try:

    for i, checkline in needeircode.iterrows():
            addr = checkline[1]
            a_id = checkline[0]
            response = get_geo(addr)
            res1 = response.json()
            res2 = res1['results'][0]
            res3 = {
                'id' : [a_id],
                'formatted_address' : [res.get('formatted_address')],
                'lat' : [res.get('geometry').get('location').get('lat')],
                'lng' : [res.get('geometry').get('location').get('lng')],
                }
            insertline = pd.DataFrame(res3)
            #insertline.to_sql(pgSQLtable_fa, pgSQLconnection, if_exists='append', index=False);
            print(insertline)


except ValueError as verror:

    print(verror)

except Exception as xerror:  

    print(xerror)

else:
    print("That might have worked")
    
finally:
    pgSQLconnection.close();

In [7]:
#Define the Connection to SQL - sqltype+conectiontype://user:pwd@address/database
pgSQLengine   = create_engine('postgresql+psycopg2://dap:dap@192.168.56.30/groupr_project');
#Name the Connection 
pgSQLconnection = pgSQLengine.connect();


needeircode = pd.read_sql_table('ppr_needeircode',pgSQLconnection)


for i, checkline in needeircode.iterrows():
            addr = checkline[1]
            a_id = checkline[0]
            res3 = {
                'id' : [a_id],
                'address' : [addr]
            }
            print(res3)

{'id': [4], 'address': ['COLLEGE LANE, RATHCOOLE, DUBLIN']}
{'id': [5], 'address': ['DARCYSTOWN, BALBRIGGAN, CO DUBLIN']}
{'id': [11], 'address': ['3 PRIORY WALK, WHITEHALL RD, TERENURE DUBLIN 12']}
{'id': [13], 'address': ['38 COOLRUA DR, BEAUMONT, DUBLIN 9']}
{'id': [17], 'address': ['42 SORRENTO RD, DALKEY, DUBLIN']}
{'id': [18], 'address': ['43 HILLCREST PARK, BALLYGALL RD EAST, DUBLIN 11']}
{'id': [19], 'address': ['20 PARK LANE, SANDYMOUNT, DUBLIN 4']}
{'id': [21], 'address': ['22 FERGUS RD, TERENURE, DUBLIN 6W']}
{'id': [27], 'address': ['66 CHURCHTOWN RD LOWER, DUBLIN 14, DUBLIN']}
{'id': [34], 'address': ['90 CARRINGTON, NORTHWOOD, SANTRY']}
{'id': [40], 'address': ['2 REUBEN ST, RIALTO, DUBLIN 8']}
{'id': [42], 'address': ['11 EDEN GROVE, DONABATE, DUBLIN']}
{'id': [44], 'address': ['106 ROCKFORD MANOR, STRADBROOK RD, BLACKROCK']}
{'id': [45], 'address': ['12 CALEDON COURT, EAST RD, EAST WALL DUBLIN 3']}
{'id': [46], 'address': ['14 PALMERSTOWN CLOSE, PALMERSTOWN, DUBLIN 20']}
{'id': [51], 'address': ['1 CORDUFF GARDENS, BLANCHARDSTOWN, DUBLIN 15']}
{'id': [52], 'address': ['18 BEECH GROVE, BOOTERSTOWN, DUBLIN']}
{'id': [53], 'address': ['186 WHITEBEAMS RD, WEDGEWOOD, SANDYFORD DUBLIN 18']}
{'id': [55], 'address': ['19 DONORE RD, SOUTH CIRCULAR RD, DUBLIN 8']}
{'id': [57], 'address': ['157 BEECHWOOD COURT, STILLORGAN, DUBLIN']}
{'id': [64], 'address': ['13 SHACKLETON GRANGE, SHACKLETON PARK, LUCAN']}
{'id': [67], 'address': ['13 FOXFIELD LAWN, RAHENY, DUBLIN 5']}
{'id': [68], 'address': ['12 ROOKWOOD VIEW, STOCKING LANE, RATHFARNHAM DUBLIN 16']}
{'id': [69], 'address': ['127 THE CRESCENT, MILLBROOK LAWNS, TALLAGHT DUBLIN 24']}
{'id': [75], 'address': ['1 WHITE PINES WAY, WHITE PINES, STOCKING AVENUE']}